.input {
  width: 100%;
  margin-top: 14px;
  border-radius: 8px;
  border: 1.5px solid var(--all-colors-gray-gray-200);
  background: var(--all-colors-black-white-white);
  padding: 16px 24px;
  color: var(--theme-colors-secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
