:root {
  --color-main: #000;
  --all-colors-black-white-white: #fff;
  --all-colors-gray-gray: #e0e0e0;
  --all-colors-gray-gray-200: #e9ecef;
  --all-colors-gray-gray-300: #dee2e6;
  --theme-colors-secondary: #6c757d;
  --theme-colors-light: #f8f9fa;
  --theme-colors-dark: #212529;
  --theme-colors-secondary: #6c757d;
  --bacground-main: #fdfdfd;
  --color-primary: #0d6efd;
  --color-danger: #32aa27d3;
  --theme-colors-light: #F8F9FA;
  --theme-colors-danger: #dc3545;

}



